<?php
define('STATUS_MYSQL_HOST', 'localhost');
define('STATUS_MYSQL_USERNAME', 'root');
define('STATUS_MYSQL_PASSWORD', 'root');
define('STATUS_MYSQL_DATABASE_NAME', "server_status");
define('STATUS_STATUSPAGE_AUTHORIZATION_HEADER', "OAuth a-key");
?>
