<?php
define('MYSQL_HOST', 'localhost');
define('MYSQL_USERNAME', 'root');
define('MYSQL_PASSWORD', 'root');
define('MYSQL_DATABASE_NAME', "server_status");
define('WHMCS_API_URL', 'http://example.com/whmcs/');
define('WHMCS_USERNAME', 'username');
define('WHMCS_PASSWORD', 'password');
define('STATUSPAGE_AUTHORIZATION_HEADER', "OAuth a-key");
?>
